<launch>
  <node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone_driver" output="screen">
    <param name="realtime_navdata" value="True" />
    <param name="navdata_demo" value="0" />
    <param name="ip" value="192.168.1.1" />
  </node>

  <include file="$(find nix_ros_ardrone)/launch/hotasx_teleop.launch" />

  <node pkg="nix_ros_ardrone" type="ardrone_joystick_controller.py" name="ardrone_joystick_controller" output="screen" />

  <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
    <arg name="port" value="8765" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orb_slam3_ros)/config/orb_slam3_with_imu.rviz" output="screen">
        <remap from="/cam0/image_raw"     to="/ardrone/front/image_raw"/>
        <remap from="/imu"                  to="/ardrone/imu"/>
  </node>

</launch>
